<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h2 v-if="isLogin">你好</h2>
        <h2 v-else>请登录</h2>
        <p v-if="x=='a'">A</p>
        <p v-else-if="x=='b'">B</p>
        <p v-else-if="x=='C'">C</p>
        <button @click="change">点击</button>
        <span v-show="isShow">你好</span>
    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                isLogin: false,
                x: 'b',
                isShow: true
            },
            methods: {

                change() {
                    this.x = 'a'
                }
            }
        });
    </script>
</body>

</html>